<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Vehicle</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Vehical No:</label>
      <input class="form-control" type="text" formControlName="vehicleNo" disabled />
    </div>


    <div class="form-group">
      <label>Vehical Type:</label>
      <input class="form-control" type="text" formControlName="vehType" disabled />
    </div>


    <div class="form-group">
      <label>Last Service Date:</label>
      <div class="input-group date">
        <input class="form-control" type="text" formControlName="lastServiceDate" />
        <div class="input-group-append">
          <span (click)="isOpen = !isOpen">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Next Service Date:</label>
      <div class="input-group date">
        <input class="form-control" type="text" formControlName="nextServiceDate" />
        <div class="input-group-append">
          <span (click)="isOpen = !isOpen">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Parking Lot:</label>
      <input class="form-control" type="text" formControlName="parkinglot" />
    </div>

    <div class="form-group">
      <label>Lease Start:</label>
      <div class="input-group date">
        <input class="form-control" type="text" formControlName="leaseStart" />
        <div class="input-group-append">
          <span (click)="isOpen = !isOpen">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Lease End:</label>
      <div class="input-group date">
        <input class="form-control" type="text" formControlName="leaseEnd" />
        <div class="input-group-append">
          <span (click)="isOpen = !isOpen">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Vehicle Model:</label>
      <input class="form-control" type="text" formControlName="vehicleModel" />
    </div>

    <div class="form-group">
      <label>Gear Type:</label>
      <input class="form-control" type="text" formControlName="gearType" />
    </div>

    <div class="form-group">
      <label>Category Type:</label>
      <input class="form-control" type="text" formControlName="catType" />
    </div>

    <div class="form-group">
      <label>Remarks:</label>
      <input class="form-control" type="text" formControlName="Remarks" />
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-secondary" (click)="hideModel()">Close</button>
      <button type="submit" class="save-btn btn btn-primary">Save changes</button>
    </div>
  </form>
</div>
